.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: darkgrey;
    height: 60px;
}

.margin {
    margin:20px;
}

.padding {
    padding: 20px;
}

.textcolor {
    color: lightseagreen;
}

.footercontent {
    padding: 20px;
    color: white;
    font-size: small;
}

.block {
    background: lightgray;
    margin-bottom: 0px;
}

#logo {
    font-size: 24px;
    color: #eee;
    background: lightseagreen;
    font-weight: bold;
}

nav {
    background: lightgray;
}

a {
    background: lime;
    padding: 20px;
}

.banner {
    position: absolute;
    bottom: 0px;
    width: 93%;
    padding: 20px 0px;
    margin: 5% 5% 0% 5% auto;
    font-weight: 300;
    line-height: 30px;
    color: white;
    text-align: center;
    background: lightseagreen;
}

.thumbnail {
    margin: 5% auto;
}

.margin-right {
    margin-right: 10px;
}

@media screen and (max-width: 420px) {
    .banner {
        width: 92%;
    }
}

@media screen and (max-width: 390px) {
    .banner {
        width: 91%;
    }
}

@media screen and (max-width: 340px) {
    .banner {
        width: 90%;
    }
}